src/conf/xml-resources/web-service-references/KasBulanan/wsdl/localhost_26048/TugasKasJava/KasBulanan.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mahasiswa.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mahasiswa.server/" name="KasBulanan">
<types>
<xsd:schema>
<xsd:import namespace="http://mahasiswa.server/" schemaLocation="http://localhost:26048/TugasKasJava/KasBulanan?xsd=1"/>
</xsd:schema>
</types>
<message name="getMahasiswa">
<part name="parameters" element="tns:getMahasiswa"/>
</message>
<message name="getMahasiswaResponse">
<part name="parameters" element="tns:getMahasiswaResponse"/>
</message>
<message name="tampilMahasiswa">
<part name="parameters" element="tns:tampilMahasiswa"/>
</message>
<message name="tampilMahasiswaResponse">
<part name="parameters" element="tns:tampilMahasiswaResponse"/>
</message>
<message name="editMahasiswa">
<part name="parameters" element="tns:editMahasiswa"/>
</message>
<message name="editMahasiswaResponse">
<part name="parameters" element="tns:editMahasiswaResponse"/>
</message>
<message name="delMahasiswa">
<part name="parameters" element="tns:delMahasiswa"/>
</message>
<message name="delMahasiswaResponse">
<part name="parameters" element="tns:delMahasiswaResponse"/>
</message>
<message name="addMahasiswa">
<part name="parameters" element="tns:addMahasiswa"/>
</message>
<message name="addMahasiswaResponse">
<part name="parameters" element="tns:addMahasiswaResponse"/>
</message>
<portType name="TugasKasJavaidfi">
<operation name="getMahasiswa">
<input wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/getMahasiswaRequest" message="tns:getMahasiswa"/>
<output wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/getMahasiswaResponse" message="tns:getMahasiswaResponse"/>
</operation>
<operation name="tampilMahasiswa">
<input wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/tampilMahasiswaRequest" message="tns:tampilMahasiswa"/>
<output wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/tampilMahasiswaResponse" message="tns:tampilMahasiswaResponse"/>
</operation>
<operation name="editMahasiswa">
<input wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/editMahasiswaRequest" message="tns:editMahasiswa"/>
<output wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/editMahasiswaResponse" message="tns:editMahasiswaResponse"/>
</operation>
<operation name="delMahasiswa">
<input wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/delMahasiswaRequest" message="tns:delMahasiswa"/>
<output wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/delMahasiswaResponse" message="tns:delMahasiswaResponse"/>
</operation>
<operation name="addMahasiswa">
<input wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/addMahasiswaRequest" message="tns:addMahasiswa"/>
<output wsam:Action="http://mahasiswa.server/TugasKasJavaidfi/addMahasiswaResponse" message="tns:addMahasiswaResponse"/>
</operation>
</portType>
<binding name="TugasKasJavaidfiPortBinding" type="tns:TugasKasJavaidfi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampilMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KasBulanan">
<port name="TugasKasJavaidfiPort" binding="tns:TugasKasJavaidfiPortBinding">
<soap:address location="http://localhost:26048/TugasKasJava/KasBulanan"/>
</port>
</service>
</definitions>