src/conf/xml-resources/web-service-references/KasBulanan/wsdl/localhost_26048/TugasKasJava/KasBulanan.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://mahasiswa.server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mahasiswa.server/">

<xs:element name="addMahasiswa" type="tns:addMahasiswa"/>

<xs:element name="addMahasiswaResponse" type="tns:addMahasiswaResponse"/>

<xs:element name="delMahasiswa" type="tns:delMahasiswa"/>

<xs:element name="delMahasiswaResponse" type="tns:delMahasiswaResponse"/>

<xs:element name="editMahasiswa" type="tns:editMahasiswa"/>

<xs:element name="editMahasiswaResponse" type="tns:editMahasiswaResponse"/>

<xs:element name="getMahasiswa" type="tns:getMahasiswa"/>

<xs:element name="getMahasiswaResponse" type="tns:getMahasiswaResponse"/>

<xs:element name="tampilMahasiswa" type="tns:tampilMahasiswa"/>

<xs:element name="tampilMahasiswaResponse" type="tns:tampilMahasiswaResponse"/>

<xs:complexType name="editMahasiswa">
<xs:sequence>
<xs:element name="npm" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="kelas" type="xs:string" minOccurs="0"/>
<xs:element name="bulan" type="xs:string" minOccurs="0"/>
<xs:element name="pembayaran" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editMahasiswaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMahasiswa">
<xs:sequence>
<xs:element name="npm" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="kelas" type="xs:string" minOccurs="0"/>
<xs:element name="bulan" type="xs:string" minOccurs="0"/>
<xs:element name="pembayaran" type="xs:string" minOccurs="0"/>
<xs:element name="q" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMahasiswaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMahasiswa">
<xs:sequence>
<xs:element name="npm" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="kelas" type="xs:string" minOccurs="0"/>
<xs:element name="bulan" type="xs:string" minOccurs="0"/>
<xs:element name="pembayaran" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMahasiswaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="delMahasiswa">
<xs:sequence>
<xs:element name="npm" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delMahasiswaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tampilMahasiswa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tampilMahasiswaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>